@charset　"utf=8";


{
margin:0;
padding:0;
}

body{
background-color:gray;

}
header
{
background-color:orange;
}
#main1{
background-color:yellow;
  
}
#main2{
background-color:purple;

  
}
aside{
background-color:blue;
 
}
footer{
background-color:green;

}
